<%- include('includes/header') %>
    <%if (err.length == 0) { %>
        <div class="alert alert-success" role="alert">
            Your vote has been received succesfully.
        </div>
    <% } else {%>

    <div class="alert alert-danger" role="alert">
        <%= err %>
    </div>

    <% } %>
<%- include('includes/header') %>
