<%- include('includes/header') %>

<h1> Welcome to the voting app of Local Best Group Leuven </h1>
    
<% if (isAuthenticated ){ %>
        <form action="/logout" method="POST">
            <button type = "submit" class="btn btn-info"> Logout </button>
        </form>
    <% } else{ %>
        <br>
        <a href="/login"><button class="btn btn-secondary"> Login </button> </a>
        <a href="/register"><button class="btn btn-secondary"> Register </button> </a>
    <% } %>
<%- include('includes/footer') %>
