<html>
    <form action="/analyse" method="POST">
        Your code
        <input type="text" name="code">

        Your votes
        <input type="text" name="vote">

        <button type="submit"> Send </button>
    </form>
</html>
